files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/40_chmod_logs.sh":
       mode: "000755"
       owner: root
       group: root
       content: |
         #!/usr/bin/env bash
         . /opt/elasticbeanstalk/support/envvars

         touch $EB_APP_DEPLOY_DIR/log/sidekiq.log
         chmod 0664 $EB_APP_DEPLOY_DIR/log/sidekiq.log

         case $RACK_ENV in
           "integration")
             touch $EB_APP_DEPLOY_DIR/log/integration.log
             chmod 0664 $EB_APP_DEPLOY_DIR/log/integration.log
             ;;
           "staging")
             touch $EB_APP_DEPLOY_DIR/log/staging.log
             chmod 0664 $EB_APP_DEPLOY_DIR/log/staging.log
             ;;
           "production")
             touch $EB_APP_DEPLOY_DIR/log/production.log
             chmod 0664 $EB_APP_DEPLOY_DIR/log/production.log
             ;;
         esac

container_commands:
  run_chmod_logs:
    command: /opt/elasticbeanstalk/hooks/appdeploy/post/40_chmod_logs.sh
