container_commands:
  01_chmod_sidekiq_log:
    command: chmod 0664 /var/app/current/log/sidekiq.log
  02_chmod_integration_log:
    command: chmod 0664 /var/app/current/log/integration.log
    ignoreErrors: true
  03_chmod_stating_log:
    command: chmod 0664 /var/app/current/log/staging.log
    ignoreErrors: true
  04_chmod_production_log:
    command: chmod 0664 /var/app/current/log/production.log
    ignoreErrors: true
