files:
  "/etc/awslogs/awslogs.conf" :
    mode: "000755"
    owner: root
    group: root
    content: |
      [general]
      state_file = /var/lib/awslogs/agent-state

      [exhibits_int_app_stream]
      log_group_name = exhibits-rails-integration
      log_stream_name = exhibits-int
      datetime_format = %Y-%m-%dT%H:%M:%S.%f
      file =  /var/app/current/log/integration.log*

      [exhibits_stg_app_stream]
      log_group_name = exhibits-rails-staging
      log_stream_name = exhibits-stg
      datetime_format = %Y-%m-%dT%H:%M:%S.%f
      file =  /var/app/current/log/staging.log*

      [exhibits_prod_app_stream]
      log_group_name = exhibits-rails-production
      log_stream_name = exhibits-prod
      datetime_format = %Y-%m-%dT%H:%M:%S.%f
      file =  /var/app/current/log/production.log*
      
container_commands:
#  01_start_awslogs:
#    command: "service awslogs start"
#  02_enable_awslogs:
#    command: "chkconfig awslogs on"
