commands:
  create_log_dir:
    command: "mkdir -p /var/app/current/log"
    ignoreErrors: true
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/40_chmod_logs.sh":
       mode: "000755"
       owner: root
       group: root
       content: |
         #!/usr/bin/env bash
         . /opt/elasticbeanstalk/support/envvars

         SIDEKIQ_LOG=$EB_APP_DEPLOY_DIR/log/sidekiq.log

         case $RACK_ENV in
           "integration")
             RAILS_LOG=$EB_APP_DEPLOY_DIR/log/integration.log
             ;;
           "staging")
             RAILS_LOG=$EB_APP_DEPLOY_DIR/log/staging.log
             ;;
           "production")
             RAILS_LOG=$EB_APP_DEPLOY_DIR/log/production.log
             ;;
         esac

echo '~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~'
echo ' '
echo 'SIDEKIQ_LOG='+$SIDEKIQ_LOG
echo 'RAILS_LOG='+$RAILS_LOG
echo ' '
echo '~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~'

         sudo touch $SIDEKIQ_LOG
         sudo chmod 0664 $SIDEKIQ_LOG
         sudo touch $RAILS_LOG
         sudo chmod 0664 $RAILS_LOG


container_commands:
  run_chmod_logs:
    command: /opt/elasticbeanstalk/hooks/appdeploy/post/40_chmod_logs.sh
