commands:
  create_post_dir:
    command: "mkdir -p /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/40_chmod_logs.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      . /opt/elasticbeanstalk/support/envvars

      SIDEKIQ_LOG=log/sidekiq.log

      case $RACK_ENV in
        "integration")
          RAILS_LOG=log/integration.log
          ;;
        "staging")
          RAILS_LOG=log/staging.log
          ;;
        "production")
          RAILS_LOG=log/production.log
          ;;
      esac

      echo '===================== Log Locations ====================='
      echo ' '
      echo 'SIDEKIQ_LOG='$SIDEKIQ_LOG
      echo 'RAILS_LOG='$RAILS_LOG
      echo ' '
      echo '========================================================='

      touch $SIDEKIQ_LOG
      chmod 0664 $SIDEKIQ_LOG
      touch $RAILS_LOG
      chmod 0664 $RAILS_LOG

container_commands:
  run_chmod_logs:
    command: /opt/elasticbeanstalk/hooks/appdeploy/post/40_chmod_logs.sh
