# Update bundler to the expected version
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/09_update_bundler.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      . /opt/elasticbeanstalk/support/envvars

      echo '***** Checking if bundler should be updated'
      if [ $UPDATE_BUNDLER = true ] ; then
        # @example $CMD = /opt/rubies/ruby-2.5.8/bin/gem install bundler -v 2.1.4
        # Where envinroment variables values are...
        #   $RUBY_PATH = '/opt/rubies/ruby-2.5.8/bin/gem'
        #   $BUNDLER_VERSION = '2.1.4'
        CMD="$RUBY_PATH install bundler -v $BUNDLER_VERSION"
        echo "***** Executing CMD: $CMD"
        eval $CMD
      fi
