# Update bundler to the expected version
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/51_chmod_logs.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      . /opt/elasticbeanstalk/support/envvars

      if [ $UPDATE_BUNDLER = true ] ; then
        # @example $CMD = /opt/rubies/ruby-2.5.8/bin/gem install bundler -v 2.1.4
        # Where envinroment variables values are...
        #   $RUBY_PATH = '/opt/rubies/ruby-2.5.8/bin/gem'
        #   $BUNDLER_VERSION = '2.1.4'
        CMD = $RUBY_PATH ' install bundler -v ' $BUNDLER_VERSION
        eval $CMD
      fi
