version: 2.1
jobs:
  build:
    machine: true # Use a Linux VM instead of docker environment
    working_directory: ~/repo # Default working directory, where your project will be cloned
    steps:
      - checkout
      - run: bin/create_cci_env
      - run: docker-compose up -d
      - run: docker-compose exec app sh -c "bundle exec rubocop"
      - run: docker-compose exec app sh -c "bundle exec rake db:migrate RAILS_ENV=test"
      - run: docker-compose exec app sh -c "bundle exec rspec"
      # This line is to be able to access failing screenshots in the
      # artifacts section in CircleCI
      - store_artifacts:
          path: ~/repo/features/fail-screenshots
