<% require 'version' %>
<footer>
  <div class="container">
    <div class="col-sm-10">
      <p>©2020 Cornell University Library / (607) 255-4144 / <a href="http://www.library.cornell.edu/privacy">Privacy</a> / <a href="https://www.library.cornell.edu/web-accessibility">Web Accessibility Assistance</a></p>
      <p><small><a href="https://cul-it.github.io/exhibits-library-cornell-edu/">Spotlight help</a></small></p>
      <p class="text-muted version"><small>Cornell Exhibits <%= Version::VERSION %>></small></p>
      <p class="text-muted version"><small>Spotlight <%= SPOTLIGHT_VERSION %></small></p>
    </div>
    <div class="col-sm-2">
      <% unless current_user %>
        <p><%= link_to t('spotlight.header_links.login'), main_app.new_user_session_path %></p>
      <% end %>
    </div>
  </div>
</footer>
