<footer>
	<div class="container">
		<h3>Cornell University Library</h3>
		<p class="pull-right"><a class="btn btn-give" href="http://alumni.library.cornell.edu/content/give-library">Give to the Library</a></p>
		<p><strong>Library Resources:</strong>&nbsp;<a href="http://www.library.cornell.edu">Library Website</a> / <a href="http://newcatalog.library.cornell.edu/search">Search</a> / <a href="http://newcatalog.library.cornell.edu">Catalog</a> / <a href="http://encompass.library.cornell.edu/cgi-bin/checkIP.cgi?access=gateway_standard&amp;url=http://cornell.summon.serialssolutions.com/">Articles &amp; Full-Text</a> / <a href="http://newcatalog.library.cornell.edu/databases">Databases</a> / <a href="http://erms.library.cornell.edu/">E-Journal Titles</a> / <a href="http://www.library.cornell.edu/visual-resources">Images</a></p>
		<p>©2016 Cornell University Library / (607) 255-4144 / <a href="http://www.library.cornell.edu/privacy">Privacy</a></p>
	</div>
</footer>