<footer>
	<div class="container">
		<p>©2020 Cornell University Library / (607) 255-4144 / <a href="http://www.library.cornell.edu/privacy">Privacy</a></p>
		<p><small><a href="https://cul-it.github.io/exhibits-library-cornell-edu/">Spotlight help</a></small></p>
		<p class="text-muted version"><small>Cornell Exhibits v2.3.3</small></p>
		<p class="text-muted version"><small>Spotlight v2.3.3</small></p>
	</div>
</footer>
