<% ### BEGIN CUSTOMIZATION elr - show upto 4 exhibits across based on the width of the screen %>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
<% ### END CUSTOMIZATION %>
  <%= render collection: exhibits, partial: 'exhibit_card', as: 'exhibit' %>
</div>
