<% # BEGIN CUSTOMIZATION elr - show 3 exhibit per row when there is a sidebar; otherwise, show 4 %>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
<% exhibits.each do |ex| %>
  <div class="col mb-4" exhibit_card>
    <%= render collection: [ex], partial: 'exhibit_card', as: 'exhibit' %>
  </div>
<% end %>
</div>
<% # END CUSTOMIZATION %>
