<%= render(
  Blacklight::DocumentMetadataComponent.new(
    fields: document_presenter(document).field_presenters,
    show: true
  )
) %>
<div id="related-pages">
<%= document["id"] %>
<%= document["spotlight_exhibit_slugs_ssim"] %>
<%= current_exhibit.to_s %>
</div>