body {
	background: white; // footer color
	margin-bottom: 0;
	font-family: $font-family-sans-serif;
}

a, a.nav-link {
	color: $link-primary;
	text-decoration: underline;
}

p, li {
	font-size: 1.1rem;
}

hr {
	margin: 1.2rem 0;
}

#main-container {
	padding-bottom: 3em;
}

// LibWizard form - Help us redesign! button is sticky
.lwz-btn {
  position: fixed;
  right: 16px;
  top: 30%;
  z-index: 9999;
  background: #b31b1b;
  color: #fff;
  padding: 6px;
  border-radius: 6px;
  text-decoration: none;
  text-align: center;
  transform: rotate(90deg) translateY(-50%);
  transform-origin: right top;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  width: 180px;
}
.lwz-btn:hover {
  background: #8a1616;
}

// MEDIA QUERIES
// -------------------------

// Small devices (landscape phones, 576px and down,)
@include media-breakpoint-down(sm) {
  // LibWizard form - Help us redesign! button is static
  .lwz-btn {
    position: static;
    transform: none;
    width: 200px;
    margin: 1em auto;
    display: block;
    border-radius: 6px;
    top: auto;
    right: auto;
  }
}

// Medium devices (tablets, 768px and up)
// @include media-breakpoint-up(md) {
// }

// Large devices (desktops, 992px and up)
// @include media-breakpoint-up(lg) { ... }

// Extra large devices (large desktops, 1200px and up)
// @include media-breakpoint-up(xl) { ... }