body {
	font-family: $font-family-cul;
	background: white; // footer color
	margin-bottom: 0;
}

// Links
// ------------------- //

a { 
	color: $link-primary;
	text-decoration: underline;
}

// Typography
// ------------------- //

.page-title,
.site-title {
	font-family: $font-family-cul;
}
.page-title {
	margin-bottom: 1.5rem;
}

p, li {
	font-size: 1.1rem;
}

// Bootstrap overrides
// ---------------------- //

.breadcrumb {
	padding: 0;
	background: inherit;
	margin-bottom: 3em;
	li {
		font-size: .9rem;
	}
}

// #500 - update blockquote style
.blockquote {
	font-size: 1.1rem;
	padding: 1rem 0 .5rem 1rem;
	border-left: 5px solid #eee;
}

// #433 - color contrast is insufficient for all of the following:
.page-item.active .page-link {
	border-color: $almost-black;
	background-color: $almost-black;
}
.image-masthead .exhibit-navbar {
	background: black;
}
.navbar-dark .navbar-nav .nav-link, .image-masthead .exhibit-navbar .navbar-nav .nav-link {
	color: white;
}
.breadcrumb-item.active,
.dl-invert dt {
	color: inherit;
}

// MEDIA QUERIES
// -------------------------

// Small devices (landscape phones, 576px and up)
// @include media-breakpoint-up(sm) {
// }

// Medium devices (tablets, 768px and up)
// @include media-breakpoint-up(md) {
// }

// Large devices (desktops, 992px and up)
// @include media-breakpoint-up(lg) { ... }

// Extra large devices (large desktops, 1200px and up)
// @include media-breakpoint-up(xl) { ... }