.category-caption {
	bottom: 0 !important;
	background: rgba(0,0,0,.5);
	padding: 5px 0;
}

.browse-category {
  overflow: hidden;
}

// Tile sizing
// Override Spotlight to enable multiple rows if tiles >5
// Fixes: https://github.com/cul-it/exhibits-library-cornell-edu/issues/448
[data-sidebar="false"],
[data-sidebar="true"] {
  &[class*="categories-"] {
    .browse-category {
      max-width: $maximum-tile-width;
      max-height: $maximum-tile-width * $aspect-ratio-factor-4x3;
      width: $xs-one-tile-width;
      height: $xs-one-tile-width * $aspect-ratio-factor-4x3;
    }
  }
	&[class*="categories-"]:not(.categories-1):not(.categories-2):not(.categories-3):not(.categories-4) {
    .browse-category {
      @media (min-width: breakpoint-min("sm")) {
        width: $sm-three-tile-width;
        height: $sm-three-tile-width * $aspect-ratio-factor-4x3;
      }

      @media (min-width: breakpoint-min("md")) {
        width: $md-three-tile-width;
        height: $md-three-tile-width * $aspect-ratio-factor-4x3;
      }

      @media (min-width: breakpoint-min("lg")) {
        width: $lg-three-tile-width;
        height: $lg-three-tile-width * $aspect-ratio-factor-4x3;
      }

      @media (min-width: breakpoint-min("xl")) {
        width: $xl-five-tile-width;
        height: $xl-five-tile-width * $aspect-ratio-factor-4x3;
      }
    }
  }
}

.items-block .items-col button {
  margin: 0.75em;
}

.carousel-block .carousel-caption .secondary {
  padding-left: 1rem;
  padding-right: 1rem;
}

.carousel-block .carousel-caption {
  .primary a, .secondary a {
    color: #fff;
  }
}
/* Static Carousel Items */
.list-group-item {
  color: #000;
  a {
    color: #006699;
  }
  &.active {
    color: #fff;
    a {
      color: inherit;
      }
  }
}

// Multi-image selection for item widgets
.thumbs-list {
	overflow-x: auto;
}

// Balance caption text over multiple lines for item block
.items-block .items-col .caption {
  text-wrap: balance;
}

// Align tops of items column and text column for item block
.items-block .items-col .box {
  padding-top: 0; 
}