footer {
  padding: 3em 0;
  border-top: 1px solid $warm-gray;
  p, li {
    font-size: .9rem;
  }
  p.version {
    margin: -5px 0px;
  }
}

.copyright {
  p {
    font-size: 1rem;
    padding: 5px;
  }
}