// Cornell brand
// ------------------- //

.cornell-identity {
	background: white;
	.container {
		background: $cornell-red;
	}
}
.mobile-cornell-wrapper {
	background: $cornell-red;
	padding: .25rem 0;
}
.mobile-cornell-logo {
	background: url("/img/cornell-reduced-white.svg") no-repeat;
	width: 200px;
	height: 45px;
	display: block;
	text-indent: -99999em;
}
.logo {
	padding-left: 0;
	background: url("/img/CULibraryRed.svg") no-repeat;
	.insignia {
		float: left;
		margin-right: .5em;
		width: 100px;
		height: 100px;
		text-indent: -99999em;
	}
}
.library-brand {
	margin-top: .5em;
	a, a:hover, a:active, a:focus {
		color: white;
	}
	a {
		text-indent: -99999em;
		display: block;
		width: 160px;
		height: 100px;
		margin-left: 150px;
	}
}
.library-brand-mobile {
	display: block;
	background: url("/img/CULWordmark.svg") no-repeat;
	text-indent: -99999em;
	width: 120px;
	height: 45px;
}

// Header
// --------------------
header {
	background: white;
	.navbar-nav {
		a {
			color: $gray-dark;
		}
	}
	
}

// Rules are kinda specific to exhibits that don't have a masthead image, see Circus Fashion
.masthead {
	border-top: 1px solid #e7e7e7;
	background: black;
	.site-title {
		white-space: normal;
		color: white
	}
	small {
		color: white;
	}
}
.image-masthead,
.mastheed {
	.h2 {
		font-size: 2.4rem;
	}
	.exhibit-navbar {
		.navbar-nav {
			text-transform: none;
			a {
				white-space: normal;
			}
		}
	}
}

// background treatment only for mastheads with images
.image-masthead {
	.site-title-wrapper {
		margin-top: 1rem;
		display: inline-block;
		background: rgba(0,0,0,.7);
		padding: .5rem 1rem;
	}
}
.site-title-container {
	max-height: none;
	padding-bottom: 2rem !important;
}

.site-nav {
	border-top: 1px solid #e7e7e7;
	background: $pale-gray;
}

.site-title-brand {
  max-height: 60px;
	padding: .5rem;
	font-size: 1.8rem;
	text-transform: uppercase;
	color: $pale-gray;
	a, a:hover, a:active, a:focus {
		color: $almost-black;
		text-decoration: none;
	}
}

// Remove default blur filter
.image-masthead .background-container {
	filter: blur(0);
}

// Utilities navbar
// --------------------
.navbar-toggler {
	border: 1px solid $warm-gray;
	float: none;
	border-radius: 0;
	text-transform: uppercase;
	margin-bottom: .5em;
	i {
		margin-left: .5em;
	}
}
.navbar-collapse {
	border: 1px solid $warm-gray;
	margin-bottom: .5em;
}

// Form
// ---------
.navbar-form {
	margin-left: 0;
	margin-right: 0;
}

// Maintenance
// -------------------------
.maintenance-message {
    text-align: center;
    padding: 10px;
    background-color: #f7ecb5;
    font-weight: bold;
}

// MEDIA QUERIES
// -------------------------

// Small devices (landscape phones, 576px and up)
@include media-breakpoint-up(sm) {
	header {
		padding: .5em 0 0 0;
		.tab-content {
			height: 80px;
		}
	}
	.navbar-collapse {
		border:  0;
	}
	.masthead {
		border-top: 1px solid #e7e7e7;
	}
}

// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {
	header {
		padding: 1em 0;
	}
}

// Large devices (desktops, 992px and up)
// @include media-breakpoint-up(lg) { ... }

// Extra large devices (large desktops, 1200px and up)
// @include media-breakpoint-up(xl) { ... }


// Header colors to identify Rails environment that is running
nav div.header_full_row {
  width: 100%;
}
nav.staging_env {
  background: #7aba7b; // light green
}

nav.integration_env {
  background: #a6e1ec; // pale blue
}

nav.migrating {
  background: #f4ea7d; // yellow
}

// nav.development_env {
//   background: #ebccd1; // pale pink
// }
