// Cornell brand
// ------------------- //

.cornell-identity {
	background: white;
	.container {
		background: $cornell-red;
	}
	.cornell-logo {
		@include make-col(4);
	}
}
.cu-insignia {
	float: left;
	margin-right: 1em;
}

// Library brand
// ------------------- //
.library-brand {
	margin-top: 1em;
}
.brand {
	text-transform: uppercase;
	font-size: 25px;
	font-family: $font-family-cul;
	display: block;
	line-height: 1em;
	color: $gray-dark;
}
.brand:hover,
.brand:active,
.brand-focus {
	color: $gray-dark;
	text-decoration: none;
}
.cul-brand {
	color: $gray-dark;
	font-size: 21px;
	font-family: $font-family-cul;
	display: block;
}
.cul-brand:hover {
	color: $gray-dark;
	text-decoration: none;
}

// Header
// --------------------
header {
	background: white;
	li {
		font-size: 14px;
	}
	.navbar-nav {
		a {
			color: $gray-dark;
			text-transform: uppercase;
			font-size: 12px;
		}
	}
	
}
.masthead {
	border-top: 1px solid #e7e7e7;
	.site-title {
		white-space: normal;
		font-size: 24px;
	}
}
.site-title-container {
	max-height: none;
}

// Utilities navbar
// --------------------
.navbar-toggler {
	border: 1px solid $warm-gray;
	float: none;
	border-radius: 0;
	text-transform: uppercase;
	font-size: 12px;
	margin-bottom: .5em;
	margin-top: 2em;
	i {
		margin-left: .5em;
	}
}
.navbar-collapse {
	border: 1px solid $warm-gray;
	margin-bottom: .5em;
}

// Form
// ---------
.navbar-form {
	margin-left: 0;
	margin-right: 0;
}

// Maintenance
// -------------------------
.maintenance-message {
    text-align: center;
    padding: 10px;
    background-color: #f7ecb5;
    font-weight: bold;
}

// MEDIA QUERIES
// -------------------------

// Small devices (landscape phones, 576px and up)
@include media-breakpoint-up(sm) {
	header {
		padding: .5em 0 0 0;
		.tab-content {
			height: 80px;
		}
	}
	.brand {
		font-size: 28px;
	}
	.cul-brand {
		font-size: 22px;
	}
	.library-brand {
		margin-top: 1.5em;
	}
	.masthead {
		.site-title {
			font-size: 30px;
		}
	}
	.navbar-collapse {
		border:  0;
	}
}

// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {
	header {
		padding: 1em 0;
		// .nav > li > a {
		// 	padding: 5px 10px;
		// }
		// .nav-tabs {
		// 	a {
		// 		font-size: 18px;
		// 	}
		// }
		// .tab-content {
		// 	height: 75px;
		// }
	}
	.brand {
		font-size: 32px;
	}
	.cul-brand {
		font-size: 24px;
	}
}

// Large devices (desktops, 992px and up)
// @include media-breakpoint-up(lg) { ... }

// Extra large devices (large desktops, 1200px and up)
// @include media-breakpoint-up(xl) { ... }


// Header colors to identify Rails environment that is running
nav div.header_full_row {
  width: 100%;
}
nav.staging_env {
  background: #7aba7b; // light green
}

nav.integration_env {
  background: #a6e1ec; // pale blue
}

nav.development_env {
  background: #ebccd1; // pale pink
}
