// Openseadragon viewer
// -----------------------
.openseadragon-container {
	min-height: 300px;
}

#main-container {
	padding-bottom: 3em;
}

// Home page
// -----------------------
.exhibit-card,
.card-front,
.card-face {
	height: 375px;
}
.card-title {
	font-size: 16px;
}