#sidebar {
	//  Override default .h6 class styling
	ol.sidenav li h2 {
		font-size: 1.1rem;
	}
	// Highlight current page in sidebar list
	ol.sidenav li.active h2, ol.subsection li.active {
		font-weight: bold;
	}
}

.btn-nav {
	background-color: #e1efc6;
}