#sidebar ol.sidenav {
	//  Override default .h6 class styling
	li h2 {
		font-size: 1.1rem;
	}
	// Adjust size and padding for subsection
	ol.subsection {
		padding-left: 1rem;
		margin-bottom: 0.5rem;
	}
	ol.subsection li {
		font-size: 1.05rem;
	}
	// Highlight current page in sidebar list
	li.active h2, ol.subsection li.active {
		font-weight: bold;
	}
}

.btn-nav {
	background-color: #e1efc6;
}
