// #542 - better spacing for text area H2; may need adjustment if this effects other system elements
.blacklight-feature_pages-show {
	#content {
		h2 {
			margin: 2rem 0 1rem;
		}
	}
}

// Page Title
// ---------------------- //

.page-title {
	margin-bottom: 1.5rem;
}

// Page Sidebar 
// ---------------------- //

#sidebar ol.sidenav {
	//  Override default .h6 class styling
	li h2 {
		font-size: 1.1rem;
	}
	// Adjust size and padding for subsection
	ol.subsection {
		padding-left: 1rem;
		margin-bottom: 0.5rem;
	}
	ol.subsection li {
		font-size: 1.05rem;
	}
	// Highlight current page in sidebar list
	li.active h2, ol.subsection li.active {
		font-weight: bold;
	}
}
