// Page Title and Headers
// ---------------------- //

.blacklight-about_pages-show, .blacklight-feature_pages-show, .blacklight-home_pages-show {
	#content {
		.page-title {
			margin-top: 0;
			margin-bottom: 1.5rem;
		}
		h2, h3, h4, h5, h6 {
			margin-top: 2rem;
			margin-bottom: 1rem;
		}
	}
}

// Page Sidebar 
// ---------------------- //

#sidebar ol.sidenav {
	//  Override default .h6 class styling
	li h2 {
		font-size: 1.1rem;
	}
	// Adjust size and padding for subsection
	ol.subsection {
		padding-left: 1rem;
		margin-bottom: 0.5rem;
	}
	ol.subsection li {
		font-size: 1.05rem;
	}
	// Highlight current page in sidebar list
	li.active h2, ol.subsection li.active {
		font-weight: bold;
	}
}
