.search-query-form {
	.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
		background: $cornell-red;
		border-color: $cornell-red;
	}
}

// #433 - Increase contrast of selected facet - change from green to black
.facet-values {
	li {
		.selected {
			color: black !important;
		}
	}
}