.search-widgets {
	margin-bottom: .5em;
}

// Add space between metadata and viewer
.document-metadata {
	margin-top: 2rem;
}

// Fix for bad aspect ratio on carousel on mobile devices
.carousel-block.carousel-height-medium .carousel-inner > .item > a > img {
	height: 300px;
	width: auto;
}

// MEDIA QUERIES
// -------------------------

// Small devices (landscape phones, 576px and up)
@include media-breakpoint-up(sm) {
	// Fix for bad aspect ratio on carousel on mobile devices
	.carousel-block.carousel-height-medium .carousel-inner > .item > a > img {
		height: 500px;
		width: auto;
	}
}

// Medium devices (tablets, 768px and up)
// @include media-breakpoint-up(md) {
// }

// Large devices (desktops, 992px and up)
// @include media-breakpoint-up(lg) { ... }

// Extra large devices (large desktops, 1200px and up)
// @include media-breakpoint-up(xl) { ... }

.carousel-caption {
  position: relative;
  background-color: #6C6C6C;
  color: #eeeeee;
}
