// Colors
// -----------------//

$light-red: #ba3232;
$cornell-red: #b31b1b;
$cornell-medium-blue: #0068ac;
$cornell-dark-red: #990f26;

$charcoal-gray: #7f7675;
$charcoal-dark: #6a6362;

$warm-gray: #c3c1bd; // olinuris footer
$warm-light-gray: #dddad4;

$border-color: #dddddd;

$tan: #dddad4;


// Google fonts
// -----------------//

$font-family-cul: 'Montserrat';        @import
url(//fonts.googleapis.com/css?family=Montserrat);
