// Colors
// -----------------//

$cornell-red: #b31b1b;
$cornell-medium-blue: #0068ac;

$warm-gray: #c3c1bd;
$almost-black: #222222;

$pale-gray: #f5f5f5;

$tan: #dddad4;

$accessible-green: #186329;


// Google fonts
// -----------------//

$font-family-cul: 'freight-sans-pro', 'Helvetica', 'Arial', sans-serif;        @import
url(//use.typekit.net/wiq6yer.css);