@import 'base';

// Theme designed to include a modified version of the original RMC masthead image in larger screen sizes

.masthead {
  .site-title-container {   
    .site-title-wrapper {
      // Remove block background behind text
      background: none;
    }

    @media (min-width: breakpoint-max('md')) {
      // For larger screen sizes, hide title text (except for screen readers)
      height: 180px;
      .site-title {
        @include sr-only;
        }
    }
  }

  .background-container {
    // Center masthead image
    background-position: center;
    border: none;
    height: 180px;

    @media (max-width: breakpoint-max('md')) {
      // For smaller screen sizes, zoom in on solid background color on left side of modified RMC masthead image
      background-position: left;
      background-size: 600% 100%; 
    }
  }  

  .background-container-gradient {
    @media (min-width: breakpoint-max('md')) {
      // For larger screen sizes, remove background image gradient
      display: none;
    }
  }
}
