/*
 Stylesheet used for joyce exhibit theme
*/

@import 'base';
@font-face {
  font-family: 'Mutable-SemiBold';
  src: font-url('Mutable-SemiBold.otf');
}

// Background color
body, header {
  background: #fcf9ee;
}

#exhibit-navbar, footer {
  background: #ecbb35;
}

.navbar, #blacklight-modal {
  background: white;
}

// Masthead
.masthead {
  background-color: #dee78f;

  .background-container {
    background-position: center;
    filter: none;
    height: 180px;
    border: none;

    @media (max-width: breakpoint-max('md')) {
      background-image: none !important;
    }
  }

  .background-container-gradient {
    display: none;
  }
  
  .site-title-container {
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;

    .site-title-wrapper {
      background: none;
      text-align: center;
      font-family: 'Mutable-SemiBold';

      h1 {
        color: #475476;
        text-shadow: none;
        font-size: 3rem;

        &::first-letter {
          font-feature-settings: 'ss02';
          font-size: 4rem;
        }
      }
      small {
        color: #467D58;
        padding-top: 0 !important;
      }
    }
  }

  #exhibit-navbar .nav-link {
    color: #4b5474;
  }
}

// Home Page
.blacklight-home_pages {
  .content-block.item-text {
    @media (min-width: breakpoint-min('lg')) {
      max-width: 90%;
    }

    .items-col.uploaded-items-block {
      .box {
        padding-top: 0;

        .img-thumbnail {
          border: none;
          background: none;
        }
      }

      // Hackily override col-md-6 bootstrap styling set in html
      // Roughly equivalent of col-md-4
      &.float-right.col-md-6 {
        @media (min-width: breakpoint-min('md')) {
          flex: 0 0 33.33333333%;
          max-width: 33.33333333%;
        }
      }
    }

    // Hackily override col-md-6 bootstrap styling set in html
    // Roughly equivalent of col-md-8
    .text-col.col-md-6 {
      @media (min-width: breakpoint-min('md')) {
        flex: 0 0 66.66666667%;
        max-width: 66.66666667% !important;
      }
    }
  }
}

// Hackily override col-lg-3 bootstrap styling set in html
// Roughly equivalent of col-lg-2
#sidebar.col-lg-3 {
  @media (min-width: breakpoint-min('lg')) {
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%;
  }
}

#content {
  h1.page-title {
    font-family: 'Mutable-SemiBold';
  }

  // Hackily override col-lg-9 bootstrap styling set in html
  // Roughly equivalent of col-lg-10
  &.col-lg-9 {
    @media (min-width: breakpoint-min('lg')) {
      flex: 0 0 83.33333333%;
      max-width: 83.33333333%;
    }
  }
}

.items-block {
  .items-col.float-left .box {
    min-width: 300px;
  }

  // Hackily override col-md-6 bootstrap styling set in html
  // Roughly equivalent of col-md-4
  .text-col.col-md-6 {
    @media (min-width: breakpoint-min('md')) {
      flex: 0 0 33.33333333%;
      max-width: 33.33333333%;
    }
  }

  // Hackily override col-md-6 bootstrap styling set in html
  // Roughly equivalent of col-md-8
  .items-col.float-right.col-md-6 {
    @media (min-width: breakpoint-min('md')) {
      flex: 0 0 66.66666667%;
      max-width: 66.66666667%;
    }

    // 5, 6 or 9 items: creates rows of 3 instead of 4 on desktop
    .box:first-child:nth-last-child(5),
    .box:first-child:nth-last-child(5) ~ .box,
    .box:first-child:nth-last-child(6),
    .box:first-child:nth-last-child(6) ~ .box,
    .box:first-child:nth-last-child(9),
    .box:first-child:nth-last-child(9) ~ .box {
        min-width: 200px;
    }
  }
}

// Feature pages
// Ids are distinct per page: "page-slug-content"
#early-life-content {
  .page-title {
    background-image: image-url('spotlight/themes/joyce/Case1.svg');
    background-repeat: no-repeat;
    background-position: 0% 0%;
    padding-left: 2rem;
  }

  #sidebar::before {
    @media (min-width: breakpoint-min('lg')) {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: calc(100% - 28em);
      width: 100%;
      opacity: 0.6;
      // Change to repeat-y to create a repeating vertical border under sidebar menu
      background: image-url('spotlight/themes/joyce/Case1.svg') no-repeat;
      background-size: 80%;
    }
  }
}

#games-content {
  .page-title {
    background-image: image-url('spotlight/themes/joyce/Case2.svg');
    background-repeat: no-repeat;
    background-position: 0% 0%;
    padding-left: 2rem;
  }

  #sidebar::before {
    @media (min-width: breakpoint-min('lg')) {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: calc(100% - 28em);
      width: 100%;
      opacity: 0.6;
      // Change to repeat-y to create a repeating vertical border under sidebar menu
      background: image-url('spotlight/themes/joyce/Case2.svg') no-repeat;
      background-size: 80%;
    }
  }
}

#sports-content {
  .page-title {
    background-image: image-url('spotlight/themes/joyce/Case3.svg');
    background-repeat: no-repeat;
    background-position: 0% 0%;
    padding-left: 2rem;
  }

  #sidebar::before {
    @media (min-width: breakpoint-min('lg')) {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: calc(100% - 28em);
      width: 100%;
      opacity: 0.6;
      // Change to repeat-y to create a repeating vertical border under sidebar menu
      background: image-url('spotlight/themes/joyce/Case3.svg') no-repeat;
      background-size: 80%;
    }
  }
}

#radio-content {
  .page-title {
    background-image: image-url('spotlight/themes/joyce/Case4.svg');
    background-repeat: no-repeat;
    background-position: 0% 0%;
    padding-left: 2rem;
  }

  #sidebar::before {
    @media (min-width: breakpoint-min('lg')) {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: calc(100% - 28em);
      width: 100%;
      opacity: 0.6;
      // Change to repeat-y to create a repeating vertical border under sidebar menu
      background: image-url('spotlight/themes/joyce/Case4.svg') no-repeat;
      background-size: 80%;
    }
  }
}

#television-content {
  .page-title {
    background-image: image-url('spotlight/themes/joyce/Case5.svg');
    background-repeat: no-repeat;
    background-position: 0% 0%;
    padding-left: 2rem;
  }

  #sidebar::before {
    @media (min-width: breakpoint-min('lg')) {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: calc(100% - 28em);
      width: 100%;
      opacity: 0.6;
      // Change to repeat-y to create a repeating vertical border under sidebar menu
      background: image-url('spotlight/themes/joyce/Case5.svg') no-repeat;
      background-size: 80%;
    }
  }
}

#fashion-content {
  .page-title {
    background-image: image-url('spotlight/themes/joyce/Case6.svg');
    background-repeat: no-repeat;
    background-position: 0% 0%;
    padding-left: 2rem;
  }

  #sidebar::before {
    @media (min-width: breakpoint-min('lg')) {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: calc(100% - 28em);
      width: 100%;
      opacity: 0.6;
      // Change to repeat-y to create a repeating vertical border under sidebar menu
      background: image-url('spotlight/themes/joyce/Case6.svg') no-repeat;
      background-size: 80%;
    }
  }
}

#awards-content {
  .page-title {
    background-image: image-url('spotlight/themes/joyce/Case7.svg');
    background-repeat: no-repeat;
    background-position: 0% 0%;
    padding-left: 2rem;
  }

  #sidebar::before {
    @media (min-width: breakpoint-min('lg')) {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: calc(100% - 28em);
      width: 100%;
      opacity: 0.6;
      // Change to repeat-y to create a repeating vertical border under sidebar menu
      background: image-url('spotlight/themes/joyce/Case7.svg') no-repeat;
      background-size: 80%;
    }
  }
}

#books-content {
  .page-title {
    background-image: image-url('spotlight/themes/joyce/Case8.svg');
    background-repeat: no-repeat;
    background-position: 0% 0%;
    padding-left: 2rem;
  }

  #sidebar::before {
    @media (min-width: breakpoint-min('lg')) {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: calc(100% - 28em);
      width: 100%;
      opacity: 0.6;
      // Change to repeat-y to create a repeating vertical border under sidebar menu
      background: image-url('spotlight/themes/joyce/Case8.svg') no-repeat;
      background-size: 80%;
    }
  }
}

#publications-content {
  .page-title {
    background-image: image-url('spotlight/themes/joyce/Case9.svg');
    background-repeat: no-repeat;
    background-position: 0% 0%;
    padding-left: 2rem;
  }

  #sidebar::before {
    @media (min-width: breakpoint-min('lg')) {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: calc(100% - 28em);
      width: 100%;
      opacity: 0.6;
      // Change to repeat-y to create a repeating vertical border under sidebar menu
      background: image-url('spotlight/themes/joyce/Case9.svg') no-repeat;
      background-size: 80%;
    }
  }
}

#activities-content {
  .page-title {
    background-image: image-url('spotlight/themes/joyce/Case10.svg');
    background-repeat: no-repeat;
    background-position: 0% 0%;
    padding-left: 2rem;
  }

  #sidebar::before {
    @media (min-width: breakpoint-min('lg')) {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: calc(100% - 28em);
      width: 100%;
      opacity: 0.6;
      // Change to repeat-y to create a repeating vertical border under sidebar menu
      background: image-url('spotlight/themes/joyce/Case10.svg') no-repeat;
      background-size: 80%;
    }
  }
}

#legacy-content {
  .page-title {
    background-image: image-url('spotlight/themes/joyce/Case11.svg');
    background-repeat: no-repeat;
    background-position: 0% 0%;
    padding-left: 2rem;
  }

  #sidebar::before {
    @media (min-width: breakpoint-min('lg')) {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: calc(100% - 28em);
      width: 100%;
      opacity: 0.6;
      // Change to repeat-y to create a repeating vertical border under sidebar menu
      background: image-url('spotlight/themes/joyce/Case11.svg') no-repeat;
      background-size: 80%;
    }
  }
}
