/*
 Stylesheet used for Black Print exhibit theme
*/

@import 'base';
@font-face {
  font-family: 'VictorianDecade-Extrude';
  src: font-url('VictorianDecade-Extrude.otf');
}

body, header {
  background: #fff;
  color: #2f2e2f;
}

#exhibit-navbar {
  background: #764d29;
}

footer {
  background: #efe2ce;
}

a {
  color: #006699;
}

//menu and menu link color
.navbar, #blacklight-modal {
  background: #fff;
  .dropdown-menu {
    min-width: 250px;
  }
  .dropdown-item {
    color: #006699;
  }
}

.masthead {
  background-color: #2f2e2f;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  // background books right side
  .background-container {
    position: absolute;
    left: 50%; 
    background: image-url('spotlight/themes/blackprint/Books2.png') no-repeat !important;
    background-position: 50% 0% !important; 
    filter: opacity(0.8);
    @media (max-width: breakpoint-max('md')) {
      background-image: none !important;
    }
  }

  // background books left side
  .background-container-gradient {
    position: absolute;
    right: 50%; 
    background: image-url('spotlight/themes/blackprint/Books1.png') no-repeat !important;
    background-position: 50% 0% !important; 
    filter: opacity(0.8);
    @media (max-width: breakpoint-max('md')) {
      background-image: none !important;
    }
  }

  .site-title-container {
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
 
    .site-title-wrapper {
      text-align: center;
      background: none;

      // exhibit title
      h1 {
        font-family: 'VictorianDecade-Extrude';
        color: #f1cb88;
        font-size: 4.8rem;

        &::first-letter {
          font-size: 5.5rem; 
        }
      }

      // exhibit subtitle
      small {
        font-family: 'Freight Text Pro bold', serif;
        color: #f1cb88;
        padding-top: 0 !important;
      }
    }
  }
}

// feature page titles 
#content {
  h1.page-title {
    font-family: 'Freight Text Pro bold', serif;
  }
  .page-title {
    background: image-url('spotlight/themes/blackprint/Swirl5.png') no-repeat;
    background-position: 0% 30%;
    padding-left: 3rem;
    height: 60px;
  } 
}

// Browse - Authors, the subtitle is date range
.blacklight-browse-show {
  
  .subtitle {
    font-size: .65em;
    font-family: 'Freight Text Pro bold', serif;

    &::before {
      content: "(";
      color: initial; 
      padding: 0px;
    }

    &::after {
      content: ")";
    }
  }

  .title {
    font-family: 'Freight Text Pro bold', serif;
    background: image-url('spotlight/themes/blackprint/Swirl5.png') no-repeat;
    background-position: 0% 30%;
    padding-left: 3rem;
  }

  .item-count {
    color: #764d29;
    font-size: .65em;
  }

  // override the 3 column layout, just show 1 col for author biography
  @media (min-width: 768px) {
    .very-long-description-text {
      -moz-column-gap: normal;
      column-gap: normal;
      -moz-column-width: auto;
      column-width: auto;
    }
  }
}

// Author section of the exhibit, show the leaders in the masthead background
.blacklight-browse .masthead {
  .background-container {
    background: image-url('spotlight/themes/blackprint/Leaders2.png') no-repeat !important;
    background-position: 60% 0% !important; 
    opacity: 0.7 !important;
  }
  .background-container-gradient {
    background: image-url('spotlight/themes/blackprint/Leaders1.png') no-repeat !important;
    background-position: 40% 0% !important; 
    opacity: 0.7 !important;
  }
  @media (max-width: breakpoint-max('md')) {
    .background-container, .background-container-gradient {
      background-image: none !important;
    }
  }
}

// for quotes, remove the background color
.quote__cite.blockquote-footer {
    background-color: #fff !important;
    padding-top: 0.5rem;
    padding-right: 2.5rem;
    margin-right: 2.5rem;
    text-align: right;
}
