/*
 Stylesheet used for Black Print exhibit theme
*/

@import 'application.bootstrap';
@font-face {
  font-family: 'VictorianDecade-Extrude';
  src: url('VictorianDecade-Extrude.otf');
}

//colors

$blackprint-background: #f4eee5; 
$blackprint-brown: #764d29; 
$blackprint-dark-gray: #2f2e2f;
$blackprint-dark-blue: #004466; 
$blackprint-light-blue: #005A8D; 
$blackprint-yellow: #f1cb88;

body, header {
  background: $blackprint-background;
  color: $blackprint-dark-gray;
}

//links

a, .page-link {
  color: $blackprint-light-blue;
}

//navbar 

#exhibit-navbar {
  background: $blackprint-brown;
}

.navbar, #blacklight-modal {
  background: $white;
  .dropdown-menu {
    min-width: 250px;
  }
  .dropdown-item {
    color: $blackprint-light-blue;
  }
}

.masthead {
  background-color: $blackprint-dark-gray;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  // background books right side
  .background-container {
    position: absolute;
    left: 50%; 
    background: url('spotlight/themes/blackprint/Books2.png') no-repeat !important;
    background-position: 50% 0% !important; 
    filter: opacity(0.8);
    @media (max-width: breakpoint-max('md')) {
      background-image: none !important;
    }
  }

  // background books left side
  .background-container-gradient {
    position: absolute;
    right: 50%; 
    background: url('spotlight/themes/blackprint/Books1.png') no-repeat !important;
    background-position: 50% 0% !important; 
    filter: opacity(0.8);
    @media (max-width: breakpoint-max('md')) {
      background-image: none !important;
    }
  }

  .site-title-container {
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
 
    .site-title-wrapper {
      text-align: center;
      background: none;

      // exhibit title
      h1 {
        font-family: 'VictorianDecade-Extrude';
        color: $blackprint-yellow;
        font-size: 4.8rem;

        &::first-letter {
          font-size: 5.5rem; 
        }
      }

      // exhibit subtitle
      small {
        font-family: 'Freight Text Pro bold', serif;
        color: $blackprint-yellow;
        padding-top: 0 !important;
      }
    }
  }
}

// feature page titles 
#content {
  h1.page-title {
    font-family: 'Freight Text Pro bold', serif;
  }
  .page-title {
    background: url('spotlight/themes/blackprint/Swirl5.png') no-repeat;
    background-position: 0 0.5rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
  } 

  h2 {
    font-size: 1.3rem;
    font-weight: bold;
  }

  h3 {
    font-size: 1.1rem;
    font-weight: bold;
  }
}

// Browse - Authors, the subtitle is date range
.blacklight-browse-show {
  
  .subtitle {
    font-size: .65em;
    font-family: 'Freight Text Pro bold', serif;

    &::before {
      content: "(";
      color: initial; 
      padding: 0px;
    }

    &::after {
      content: ")";
    }
  }

  .title {
    font-family: 'Freight Text Pro bold', serif;
    background: url('spotlight/themes/blackprint/Swirl5.png') no-repeat;
    background-position: 0% 30%;
    padding-left: 3rem;
  }

  .item-count {
    color: $blackprint-brown;
    font-size: .65em;
  }

  // override the 3 column layout, just show 1 col for author biography
  @media (min-width: 768px) {
    .very-long-description-text {
      -moz-column-gap: normal;
      column-gap: normal;
      -moz-column-width: auto;
      column-width: auto;
    }
  }
}

// Author section of the exhibit, show the leaders in the masthead background
.blacklight-browse .masthead {
  .background-container {
    background: url('spotlight/themes/blackprint/Leaders2.png') no-repeat !important;
    background-position: 60% 0% !important; 
    opacity: 0.7 !important;
  }
  .background-container-gradient {
    background: url('spotlight/themes/blackprint/Leaders1.png') no-repeat !important;
    background-position: 40% 0% !important; 
    opacity: 0.7 !important;
  }
  @media (max-width: breakpoint-max('md')) {
    .background-container, .background-container-gradient {
      background-image: none !important;
    }
  }
}

// for Authors browse cards, increase contrast between text and background image

.browse-landing .text-overlay {
  background: linear-gradient(to bottom, rgba(0,0,0,.2), rgba(0,0,0,0.3), rgba(0,0,0,0.5));

  .browse-category-title {
    font-size: 1.5rem !important;
  }
}

// for quotes, remove the background color
.quote__cite.blockquote-footer {
  background-color: $blackprint-background !important;
  color: #4b545b;
  padding-top: 0.5rem;
  padding-right: 2.5rem;
  margin-right: 2.5rem;
  text-align: right;
}

// for slideshow display, update colors
.list-group-item {
  background-color: $blackprint-background; 
}

.list-group-item.active, 
.list-group-item.active:hover {
  z-index: 2;
  color: #fff;
  background-color: $blackprint-dark-blue;
  border-color: $blackprint-dark-blue;
}

// pagination

.pagination {
  .page-link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
  }
}

// About - Gallery & Behind Scenes

.blacklight-about_pages-show {
  .box {
        padding-top: 0px;
        padding-left: 0px;
  }
  
}