<p>Hello <%= @resource.email %>!</p>

<% ### BEGIN CUSTOMIZATION elr37 - add source of email as CUL Online Exhibits %>
<p>Someone has requested a link to change your password for Cornell University Library - Online Exhibits. You can do this through the link below.</p>
<% ### END CUSTOMIZATION %>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>

<hr>

<% ### BEGIN CUSTOMIZATION elr37 - add CUL Online Exhibits signature %>
<p>Cornell University Library<br />
Online Exhibits</p>
<% ### END CUSTOMIZATION %>
